body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(120,120,120,1.0);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr-light {
    display: inline-block; 
    width: 15%; 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-left: 30px; 
    margin-right: 30px; 
}

/*Navbar*/

.overlay-image {
    background-image: url("assets/images/hardhats.jpeg");
}

nav {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: rgba(0,0,0,0.8);
}

.navbar-brand {
    font-size: 2.9rem;
    padding-left: 50px;
    line-height: 3rem;
}

.navbar-toggler {
    background-color: rgba(240,150,70,0.8) !important;
}

.brand-name {
    font-size: 132%;
    font-weight: 400;
}

.brand-sub {
    font-family: 'Open Sans Condensed', sans-serif !important;
    color: rgba(240,150,70,1.0);
}

.smaller-text {
    font-size: 80%;
}

.navbar-brand:hover {
    
}

.nav-item {
    padding-top: 70px;
    height: 200px; 
    text-align: center; 
}

.nav-link {
    font-size: 1.2rem; 
    color: rgba(240,150,70,1.0) !important; 
}

.nav-link:hover {
    color: #fff !important; 
}

.nav-link:active, .nav-link:focus {
    background-color: rgba(30,34,50,1.0) !important; 
}

.active {
    background-color: rgba(100,100,100,0.3); 
}

.active .nav-link {
    color: #fff !important;
}

.active .nav-link:active {
    background-color: rgba(240,254,255,1.0) !important;
}

/*Main Content Styles*/

.content-overlay {
    margin-top: 5px;
}

.content-box {
    padding-top: 30px;
    padding-bottom: 20%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}

#about-box {
    background-image: url("https://images.unsplash.com/photo-1521650775848-620150d73160?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2224&q=80");
    background-size: cover;
}

#covid19-box {
    background-image: url("https://images.unsplash.com/photo-1610703124159-1f3d24db427b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2978&q=80");
    background-size: cover;
}

.section-heading {
    text-align: center;
}

.orange-hr {
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(240,150,70, 0.75), rgba(0, 0, 0, 0));
}

.biobody {
    text-indent: 40px;
    font-size: 140%; 
    line-height: 3rem;
    font-weight: 200 !important;
}

.orange {
    color: rgba(240,150,70, 1.0);
    font-weight: 400;
}

.contact-me:hover {
    color: #fff;
}

a:hover {
    text-decoration: none !important;
}

/*Footer*/

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    height: 120px; 
    line-height: 120px; 
}

a i {
    font-size: 1.5rem; 
    margin-right: 10px; 
    color: rgba(240,150,70,1.0); 
}

a i:hover, a i:hover {
    color: #fff; 
}

/*Adjust and center navbar items on mobile*/

@media screen and (max-width: 991px) {

    .nav-item {
        padding-top: 0px;
        height: 60px; 
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media screen and (max-width: 499px) {

    .navbar-brand {
        padding-left: 0px;
        margin-left: auto !important; 
        margin-right: auto !important; 
    }

    .navbar-toggler {
        width: 97%; 
        margin-left: auto !important; 
        margin-right: auto !important; 
        margin-bottom: 5px; 
    }

    .content-box {
        padding-bottom: 40%;
    }

}

/*Keep navbar-brand (title) from overflowing smaller mobile screens*/
@media screen and (max-width: 420px) {

    .navbar-brand {
        font-size: 1.9rem;  
    }

}

/*Ignore .hr-light on Galaxy Fold*/
@media screen and (max-width: 382px) {

    .hr-light {
        display: none; 
    }

}